<link href="description.css" rel="stylesheet" type="text/css">
<span class="subheading">My Personal Website & Blog</span>
<div id="head-links-container" class="subheading">
    <div class="head-link">
        <a href="https://dl.dropboxusercontent.com/u/4111188/TJ-Barbour-Resume.pdf">
            <i class="fa fa-file-text-o"></i>
            <span>Resume</span>
        </a>
    </div>
    <div class="head-link">
        <a href="about">
            <i class="fa fa-user"></i>
            <span>About</span>
        </a>
    </div>
    <div class="head-link">
        <a href="mailto:tjbarbour@gmail.com">
            <i class="fa fa-envelope-o"></i>
            <span>Get in Touch</span>
        </a>
    </div>
</div>